html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(119, 200, 228);
    color: darkblue;
}

h1 {
    color: midnightblue;
    text-align: center;
}

h3 {
    color: darkmagenta;
}

h4 {
    color: rgb(150, 107, 0);
}